*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
    /* outline: 1px solid red; */
} 

.container{
    display: flex;
}
img{
    display: block;
}
 /* header */
nav ul{
    display:  flex;
}
ul{
    list-style: none;
}
body::-webkit-scrollbar{
}

a{
    color: blue;
}

a{
    text-decoration: none;
}
.head-container{
    width: 100%;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    line-height: 100%;
    height: 90px;
    z-index: 1;
}
.lcontainer{
    align-items: center;
    justify-content: space-between;
}
.rcontainer{
    align-items: center;
}
.inside{
    color: black;
    padding: 0 20px;
    height: 100%;
    margin-top: 60px;
}
.inside:hover{
    border-bottom: solid rgb(38, 100, 207);
}
.drop{
    font-size: xx-large;
}
.btn{
    color: white;
    background-color: rgb(38, 100, 207);
    padding: 10px;
}
.btn:hover{
    background-color: blue;
}
.fa-brands{
    color: blue;
    font-size: 30px;
}
.upper{
    margin-bottom: ;
}

/* main */
/* prima sezione prova gratuita */
.top-main-container{
    background-color: rgb(18, 166, 192);
}
.upper{
    width: 70%;
    margin: 0 auto;
    transform: translate(0, 120px);
    padding: 15px;
}
.upper h1{
    font-weight: bold;
    font-size: 90px;
}
.upper-container{
    display: flex;
    padding: 40px 0;
}
.upper-txt{
    width: 70%;
}
.upper-txt > div{
    display: inline-block;
    margin: 60px;
    
}
a.btn{
    margin-left: 53px;
}
.upper-img img{
    width: 100%;
}
.fa-solid{
    font-size: xx-large;
}
/* seconda sezione piano business */
.mid-main-container{
    width: 60%;
    margin: 70px auto;
}
.main-reset{
    padding: 150px 0;
}
.circle{
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.circle-btn{
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
}
.lcircle{
    border: rgb(38, 100, 207) 2px solid;
}
.rcircle{
    border: solid 1px grey;
    margin-left: 100px;
}
.column{
    justify-content: space-between;
}
.column1{
    border: rgb(154, 151, 151) solid 1px;
}
.single{
    text-align: center;
    border-bottom: rgb(154, 151, 151) solid 1px;
    padding: 10px 0;
}
.column-content{
    padding: 20px;
    line-height: 50px;
}
.price{
    font-weight: bolder;
}
.btn-space{
    width: 100%;
    margin: 40px 0;
}
i.fa-solid.fa-share-nodes.fa-user.fa-folder.fa-check{
    font-size: 10px;
}
.column-btn{
    display: block;
    text-align: center;
}
.space{
    width: 30%;
    border: rgb(154, 151, 151) solid 1px;
    margin: 40px 0;
}
/* terza sezione enterprise*/
.mid-row-container{
    margin-top: 50px;
    border:  rgb(154, 151, 151) solid 1px;
}
.lrow{
    width: 60%;
}
.row-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
/* quarta sezione partner */
.partner{
    align-items: center;
    padding-top: 130px;
}
.partner-container{
    width: 60%;
    margin: 70px auto;
    display: flex;
}
.partner-img{
    flex-basis: 60%;
}
.partner-img img{
    width: 100%;
}
.partner-btn{
    padding: 10px;
    border: 1px solid black;
    color: black;
    flex-basis: 40%;
}
.partner-btn:hover{
    color: white;
    background-color: blue;
}
.partner-txt{
    line-height: 30px;
    width: 70%;
    padding: 50px;
}
.partner-txt h3{
    padding-bottom: 30px;
}
.fix-btn{
    padding-top: 30px;
}
/* quinta sezione business */
.business{
    padding: 130px 0;
    width: 60%;
    margin: 70px auto;
}
.business-column{
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    flex: wrap;
}
.business-column1{
    flex-basis: 30%;
    line-height: 30px;
    flex: wrap;
}
.business-column1 img{
    width: 100%;
}
.business-column1 h3{
    line-height: 30px;
    margin-bottom: 40px;
}

/* 500.000 */
div.container.customers{
    width: 60%;
    margin: 70px auto;
}
.customers-txt h2{
    padding-bottom: 40px;
    font-size: 30px;
}
/* Advertising */
.advertising{
    background-color: beige;
}
.right-adv, .left-adv{
    width: 30%;
    height: 500px;
    flex-flow: row wrap;
}
.adv{
    width: 50%;
    height: 250px;
    align-items: center;
    justify-content: center;
}
.mid-adv{
    width: 50%;
    padding: 64px;
    display: block;
}
.mid-adv img{
    height: 20%;
    display: flex;
}
.designit-tct{
    margin-bottom: 30px;
}
.adv img {
    width: 40%;
}
div.designit-txt{
    margin: 40px 0;
}
#designit{
    background-color: rgb(137, 192, 137);
}
#arizona{
    background-color: brown;
}
#florida{
    background-color: rgb(19, 149, 201);
}
#topps{
    background-color: red;
}
#wbr{
    background-color: rgb(182, 81, 81);
}
#hearst{
    background-color: rgb(188, 236, 232);
}
#lonely{
    background-color: blue;
}
#clear{
    background-color: yellow;
}